<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="622094430353-kqjl1jb9g9fsdgoakeg7a19dtvthperb.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <style>
        body, html, .container {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container container-fluid" id="react-mount-point"></div>
<script th:src="@{/js/signin.build.js}"></script>
<script th:inline="javascript">
    window.redirect_to = [[${redirect_to}]];
    window.client_id = [[${client_id}]];
    window.response_type = [[${response_type}]];
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>
